alabaster==0.7.12
altgraph==0.17
Babel==2.9.0
certifi==2020.11.8
chardet==3.0.4
docopt==0.6.2
docutils==0.16
et-xmlfile==1.0.1
future==0.18.2
idna==2.10
imagesize==1.2.0
importlib-metadata==3.1.1
jdcal==1.4.1
Jinja2==2.11.2
MarkupSafe==1.1.1
nmap==0.0.1
openpyxl==3.0.5
packaging==20.7
pefile==2019.4.18
Pillow==8.0.1
pipreqs==0.4.10
prettytable==2.0.0
Pygments==2.7.2
pyhunter==1.7
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
pyparsing==2.4.7
pytz==2020.4
pywin32-ctypes==0.2.0
reportlab==3.5.56
requests==2.25.0
rst2pdf==0.98
smartypants==2.0.1
snowballstemmer==2.0.0
Sphinx==3.3.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
urllib3==1.26.2
wcwidth==0.2.5
yarg==0.1.9
zipp==3.4.0